body{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 13pt;
}
h1{

}
h2{


}
h3{


}
p{


}
tr{


}
td{
    border: 1px solid black;
    padding: 7px;

}
img{


}
a, a: visited{ 

}