body{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 13pt;
background-color: rgb(141, 181, 255);

}
h1{
background-color: rgb(116, 203, 253);
color: rgb(105, 55, 146);
background-image: linear-gradient(to right,rgb(116, 203, 253), rgb(141, 181, 255));
border-radius: 5px;
}
h2{
/*color:  rgb(255, 203, 160);*/
background-color: rgb(116, 203, 253);
color: rgb(137, 73, 190);
background-image: linear-gradient(to right,rgb(116, 203, 253), rgb(141, 181, 255));
border-radius: 5px;
}
h3{
    color: rgb(105, 55, 146);;
    background-image: linear-gradient(to right,rgb(116, 203, 253), rgb(141, 181, 255));
    border-radius: 5px;
}
h4{
    color:  rgb(105, 55, 146);;
    background-image: linear-gradient(to right,rgb(116, 203, 253), rgb(141, 181, 255));
    border-radius: 5px;
}
p{
    color: rgb(105, 55, 146);

}
tr{
    /*  background-color: rgb(116, 203, 253);
       color: rgb(0, 0, 0);
  background-image: linear-gradient(to ,rgb(116, 203, 253), cornflowerblue);
    border-radius: 5px;*/
 
}
td{
    background-color: rgb(116, 203, 253);
    color: rgb(105, 55, 146);
   /* background-image: linear-gradient(to right,rgb(116, 203, 253), cornflowerblue);*/
    border-radius: 5px;
    border: 3px solid rgb(255, 203, 160);
    padding: 7px;

}
img{
    border-radius: 50px;
    border: 3px dashed rgb(255, 203, 160); ;

}
a:link{
    color: rgb(105, 55, 146);
}
a:visited{
    color: rgb(105, 55, 146);
}
a:hover{
    color: rgb(255, 203, 160);
}
a:active{
    color: aqua;
}